// variables //

$Orinoco_Color : #F3EAF1;

body{
    background-color: $Orinoco_Color;;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

main{
    background-color: white;
    padding-bottom: 70px;
    h1{
        text-align: center;
        padding-top: 30px;
        margin-bottom: 60px;
        background: -webkit-linear-gradient(left,#CF7E4B, #9D62DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    div{
        border: 1px solid black;
        width: 300px;
        height: 300px;
        margin-left: 20px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 4px black;
        background-color: $Orinoco_Color;
        margin-bottom: 50px;
        
    }
    img{
        width: 300px;
        height: 195px;
    }
    h2{
        text-align: center;
        color: #9D62DA;
    }
    p{
        text-align: center;
        font-weight: bold;
    }
    a{
        text-decoration: none;
    }
}
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: black;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }
}

/* Page Produit */ 

article{
    width: 60%;
    height: 40%;
    border: 1px solid black;
    margin: 0 auto;
    background-color: $Orinoco_Color;
    
    img{
        width: 100%;
        height: 70%;
    }

    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    p{
        text-align: center;
    }
}