// variables //

$Orinoco_Color : #F3EAF1;

body{
    background-color: $Orinoco_Color;;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

main{
    background-color: white;
    h1{
        text-align: center;
        padding-top: 30px;
        margin-bottom: 60px;
        background: -webkit-linear-gradient(left,#CF7E4B, #9D62DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    div{
        border: 1px solid black;
        width: 300px;
        height: 300px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: black;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }
}