@charset "UTF-8";
body {
  background-color: #F3EAF1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  list-style-type: none;
  color: black;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header i {
  font-size: 40px;
}

main {
  background-color: white;
  padding-bottom: 70px;
  min-height: 400px;
}

main h1 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 60px;
  background: -webkit-linear-gradient(left, #CF7E4B, #9D62DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section div {
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 4px 4px 4px black;
          box-shadow: 4px 4px 4px black;
  background-color: #F3EAF1;
  margin-bottom: 50px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .1s ease-in-out;
  -moz-animation: .1s ease-in-out;
  -o-animation: .1s ease-in-out;
  transition: .1s ease-in-out;
}

main section div:hover {
  -webkit-transform: scale(1.1);
  -moz-animation: scale(1.1);
  -o-animation: scale(1.1);
  transform: scale(1.1);
}

main img {
  width: 300px;
  height: 195px;
}

main h2 {
  text-align: center;
  color: #9D62DA;
}

main p {
  text-align: center;
  font-weight: bold;
}

main a {
  text-decoration: none;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

#Copyright {
  font-weight: bold;
}

/* Page Produit */
article {
  border-radius: 10px;
  width: 60%;
  height: 40%;
  border: 1px solid black;
  margin: 0 auto;
  background-color: #F3EAF1;
}

article img {
  width: 100%;
  height: 70%;
}

article h2 {
  text-align: center;
}

article h3 {
  text-align: center;
}

article p {
  text-align: center;
}

article button {
  font-size: 20px;
  display: block;
  margin: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .1s ease-in-out;
  -moz-animation: .1s ease-in-out;
  -o-animation: .1s ease-in-out;
  transition: .1s ease-in-out;
  margin-bottom: 20px;
}

article button:hover {
  background-color: #9D62DA;
  -webkit-transform: scale(1.1);
  -moz-animation: scale(1.1);
  -o-animation: scale(1.1);
  transform: scale(1.1);
}

article select {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.description {
  margin: 20px;
  font-style: italic;
}

/* page panier */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#total_commande {
  text-align: left;
  font-weight: bold;
}

.total {
  text-align: left;
  margin-left: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 60px;
}

.button_catalogue {
  margin-left: 20px;
  border: none;
  padding: 6px 0 6px 0;
  border-radius: 8px;
  background: #9D62DA;
  font: bold 13px Arial;
  color: black;
  -webkit-text-fill-color: none;
}

.button_catalogue:hover {
  background: #d34836;
}

/* Formulaire */
#paiement {
  display: inline;
  margin: 70px;
  font-weight: bold;
}

#button_form {
  border: none;
  padding: 6px 0 6px 0;
  background: #9D62DA;
  font: bold 15px Arial;
  color: #fff;
  width: 160px;
}

#button_form:hover {
  background: red;
}

form {
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  display: block;
  margin: auto;
}

form button {
  display: block;
  margin: auto;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

input {
  width: 200px;
}

/*page Validation */
.Tableau_final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.Tableau_final div {
  margin-left: 4px;
}

/* Mention Légale */
#Legal {
  padding: 50px;
}

#Legal h5 {
  text-decoration: underline;
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width: 900px) {
  #Copyright {
    visibility: hidden;
  }
}

@media screen and (max-width: 460px) {
  main h1 {
    font-size: 30px;
  }
  main section div {
    width: 230px;
    margin-left: 0;
  }
  main section img {
    width: 230px;
  }
  form {
    width: 250px;
  }
  form #paiement {
    margin: 0;
  }
  input {
    width: 200px;
  }
  .Tableau_final {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 250px;
  }
}
/*# sourceMappingURL=style.css.map */